.DS_Store
node_modules
knowledge-base
coverage
claude-desktop-extension/*.dxt
claude-desktop-extension/*.js
claude-desktop-extension/LICENSE.md
claude-desktop-extension/manifest.json
max-for-live-device/*.js
max-for-live-device/*.mjs
max-for-live-device/LICENSE.md
max-for-live-device/Ableton Folder Info/
*.afdesign~lock~
releases
scratchpad
