.DS_Store
node_modules
claude-project
coverage
desktop-extension/*.dxt
desktop-extension/*.js
desktop-extension/LICENSE.md
desktop-extension/manifest.json
device/*.js
device/*.mjs
device/LICENSE.md
device/Ableton Folder Info/
releases
scratchpad
